@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:400,600");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 17px;
  font-family: "Open Sans", sans-serif;
}
button {
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 27px;
}

::selection {
  background: #b862f9;
  color: rgb(255, 255, 255);
}
::-moz-selection {
  background: #b862f9;
  color: rgb(255, 255, 255);
}

.websitepoodle {
  display: block;
  margin: 0 auto;
  float: none;
}

@media only screen and (min-width: 768px) {
  .websitepoodle {
    float: right;
  }
}
